<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
">
    <bean id="interpreteEspanol" class="beans.InterpreteEspanol"/>
    <bean id="interpreteIngles" class="beans.InterpreteIngles"/>
    
    <bean id="traductorEspanol" class="beans.Traductor">
        <property name="interprete" ref="interpreteIngles"/>
        <property name="nombre" value="Gerlin Torres"/>
    </bean>
    <bean id="traductorIngles" class="beans.Traductor">
        <property name="interprete" ref="interpreteIngles"/>
        <property name="nombre" value="Sheila Bermudez"/>
    </bean>
</beans>
